<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>串的堆分配存储结构.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>串的定长顺序存储结构.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>二叉树的二叉链表存储结构.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>抽象结构类型的表示与实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>数据结构.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>数组的顺序存储结构.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>栈的链式存储结构.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>栈的顺序存储结构.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>矩阵的压缩存储.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>线性表的单链表存储结构（线性链表）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>线性表的双向链表存储结构.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>线性表的静态单链表存储结构（静态链表）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>线性表的顺序存储结构（顺序表）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>设立尾指针的单循环链表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>队列的链式存储结构（单链队列）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>队列的顺序表示和实现（循环队列）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF0E499F1CFC851300735C08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF0E49AE1CFEB4A100735C08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF0E49C21D07E69800735C08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF0E49D11D07F7CE00735C08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF0E49ED1D0EAFF500735C08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFA02D11CEF01A3006C184E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFA02DF1CEF01E4006C184E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFA02EA1CEF0257006C184E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFA02FA1CF023EA006C184E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFA030A1CF0858F006C184E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFA03191CF19093006C184E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFA03271CF2B968006C184E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFA03361CF2C7F0006C184E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFA03441CF3F330006C184E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFA03501CF3F5E9006C184E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFA035D1CF5EBD8006C184E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFA036D1CF7F88E006C184E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFA037B1CF86BA9006C184E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
